# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# High scores data
server/highscores.json

# Environment variables
.env

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Heroku specific
.env
npm-debug.log
/*.env
.DS_Store
/*.log 